/* item */
.items-list-inner__item {
  position: relative;
}
.items-list-inner__item--big-padding {
  padding: 29px 36px 35px;
}
.items-list-inner__item-without-image {
  padding: 35px 36px;
}
@media (max-width: 767px) {
  .items-list-inner__item--big-padding.flexbox--column-t767 {
    padding: 40px;
  }
}
@media (max-width: 600px) {
  .items-list-inner__item--big-padding {
    padding: 35px 36px;
  }
  .items-list-inner__item.flexbox--direction-row-reverse,
  .items-list-inner__item.flexbox--direction-row {
    flex-direction: column;
  }
  .items-list-inner__item.maxwidth-theme,
  .items-list-inner__item-text-wrapper .maxwidth-theme {
    padding-left: 0;
    padding-right: 0;
  }
}

/* text */
.items-list-inner .shadow-target {
  background-color: #fff;
  background-color: var(--card_bg_black);
  position: absolute;
  left: 0;
  right: 0;
  transition: bottom 0.2s ease-in-out;
}
.items-list-inner .shadow-parent-all:not(.items-list-inner__item-without-image) .shadow-target {
  bottom: -10px;
}
.items-list-inner .shadow-parent-all:hover .shadow-target {
  bottom: 0;
}
.items-list-inner__item-text-wrapper {
  position: relative;
}
.items-list-inner--img-srl .items-list-inner__item-text-top-part {
  word-break: break-word;
  position: relative;
}
.items-list-inner__item-text-bottom-part {
  padding: 28px 0 0 0;
}
@media (min-width: 992px) {
  body .items-list-inner__item-text-wrapper--has-bottom-part--RIGHT {
    flex-direction: row;
  }
  .items-list-inner__item-text-wrapper--has-bottom-part--RIGHT .items-list-inner__item-text-top-part {
    position: static;
  }
  .items-list-inner__item-text-wrapper--has-bottom-part--RIGHT .items-list-inner__item-text-bottom-part {
    padding: 2px 71px 0 26px;
    flex-shrink: 0;
  }
  .items-list-inner__item-image-wrapper--RIGHT
    + .items-list-inner__item-text-wrapper--has-bottom-part--RIGHT
    .items-list-inner__item-text-bottom-part {
    padding-right: 0;
  }
  .items-list-inner--img-srl
    .items-list-inner__item-text-wrapper--has-bottom-part--RIGHT
    .items-list-inner__item-text-top-part
    > .arrow-all
    + div {
    padding-right: 0;
  }
}
@media (max-width: 600px) {
  .bx-ie .items-list-inner__item-text-wrapper {
    flex-basis: auto;
  }
}

/* image */
.items-list-inner__item-image-wrapper {
  position: relative;
}
.items-list-inner--img-srl .items-list-inner__item-image-wrapper .items-list-inner__item-link {
  width: 150px;
  height: 100px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 6px 0 0 34px;
}
.items-list-inner--img-srl .items-list-inner__item-image-wrapper--LEFT .items-list-inner__item-link {
  margin-right: 34px;
  margin-left: 0;
}
.items-list-inner--img-srl .items-list-inner__item-image-wrapper--ICONS .items-list-inner__item-link {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items-list-inner--img-srl .items-list-inner__item-image-wrapper--ICONS a svg {
  width: 100%;
  height: 100%;
}
.items-list-inner--img-srl .items-list-inner__item-image-wrapper--ROUND_PICTURES .items-list-inner__item-link {
  height: 90px;
  width: 90px;
}
.items-list-inner--img-srl .items-list-inner__item-image-wrapper--BIG_PICTURES .items-list-inner__item-link {
  width: 300px;
  height: 200px;
}
.items-list-inner__item-image-wrapper--TOP {
  padding-top: 67%;
}
.items-list-inner__item-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 767px) {
  .items-list-inner--img-srl
    .items-list-inner__item.flexbox--column-t767
    .items-list-inner__item-image-wrapper
    .items-list-inner__item-link {
    margin: 0 0 33px 0;
  }
}
@media (min-width: 601px) {
  .items-list-inner--img-srl .grid-list--items-1 .items-list-inner__item-image-wrapper .items-list-inner__item-link {
    margin-left: 48px;
    margin-right: 0;
  }
  .items-list-inner--img-srl
    .grid-list--items-1
    .items-list-inner__item-image-wrapper--LEFT
    .items-list-inner__item-link {
    margin-right: 48px;
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .items-list-inner--img-srl .items-list-inner__item-image-wrapper .items-list-inner__item-link {
    margin: 0 0 33px 0;
  }
  .items-list-inner--img-srl .grid-list--items-1 .items-list-inner__item--big-padding {
    padding: 40px;
  }
  .items-list-inner--img-srl
    .items-list-inner__item-image-wrapper:not(.items-list-inner__item-image-wrapper--ROUND_PICTURES)
    .items-list-inner__item-image {
    border-radius: 4px;
  }
}
@media (max-width: 424px) {
  .items-list-inner--img-srl .items-list-inner__item-image-wrapper--BIG_PICTURES .items-list-inner__item-link {
    max-width: 300px;
    padding-top: 67%;
    width: 100%;
    height: auto;
  }
}

/* items products count */
.items-list-inner__item-products-count {
  margin: 3px 0 0 0;
}
.items-list-inner--img-srl .grid-list--items-1 .items-list-inner__item-products-count {
  margin-top: 8px;
}

/* title */
.items-list-inner__item-title {
  position: relative;
}
.items-list-inner__item-link--absolute {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
@media (max-width: 767px) {
  .items-list-inner--img-srl
    .items-list-inner__item.flexbox--column-t767
    .items-list-inner__item-text-top-part
    > .arrow-all
    + div {
    padding-right: 0;
  }
}
@media (min-width: 601px) {
  .items-list-inner--img-srl .items-list-inner__item-text-top-part > .arrow-all + div {
    padding-right: 54px;
  }
}

/* before title */
.items-list-inner__item-before-title.line-block {
  margin-bottom: 6px;
}
.items-list-inner__item-before-title--has-bordered-section.line-block {
  margin-bottom: 11px;
}

/* item sections */
.items-list-inner__item-section.bordered {
  background-color: #fafafa;
  background-color: var(--darkerblack_bg_black);
  padding: 4px 7px 4px 7px;
  line-height: 1em;
}
@media (max-width: 767px) {
  .items-list-inner__item:not(.items-list-inner__item-without-image).flexbox--column-t767
    .items-list-inner__item-before-title--has-bordered-section.line-block {
    margin-top: 0;
  }
}
@media (min-width: 601px) {
  .items-list-inner__item:not(.items-list-inner__item-without-image)
    .items-list-inner__item-before-title--has-bordered-section.line-block {
    margin-top: 2px;
  }
}

/* period */
.items-list-inner__item--sale .items-list-inner__item-period {
  position: relative;
}
.items-list-inner__item--sale .items-list-inner__item-period .svg {
  position: absolute;
  left: 0px;
  top: 5px;
}
.items-list-inner__item--sale .items-list-inner__item-period-date {
  padding-left: 19px;
}

/* preview text */
.items-list-inner__item-preview-wrapper {
  margin: 12px 0 0 0;
}

/* arrow */
@media (max-width: 767px) {
  .items-list-inner--img-srl
    .items-list-inner__item.flexbox--column-t767
    .items-list-inner__item-text-top-part
    .arrow-all {
    display: none;
  }
}
@media (min-width: 601px) {
  .items-list-inner--img-srl .items-list-inner__item-image-wrapper .arrow-all {
    display: none;
  }
}
@media (max-width: 600px) {
  .items-list-inner--img-srl .items-list-inner__item-text-top-part .arrow-all {
    display: none;
  }
}

/* sale */
.items-list-inner__item-sticker {
  display: inline-flex;
  gap: 7px;
  z-index: 2;
  margin: 22px 0 0 0;
}
.items-list-inner__item-sticker-value {
  background: #ffd600;
  font-weight: bold;
  display: inline-block;
  padding: 4px 10px 3px 9px;
  color: #333;
  vertical-align: top;
  height: 27px;
  font-size: 12px;
  line-height: 20px;
}
.grid-list--no-gap .items-list-inner__wrapper:not(:first-child):not(:last-child) .items-list-inner__item.rounded-4 {
border-radius: 0;
}
.grid-list--no-gap .items-list-inner__wrapper:first-child .items-list-inner__item.rounded-4 {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  }
 .grid-list--no-gap .items-list-inner__wrapper:last-child .items-list-inner__item.rounded-4 {
  border-top-left-radius:0;
  border-top-right-radius:0;
} 
/* icons */
.items-list-inner__item-info{
  display: flex;
  flex: 1;
  align-items: flex-end;
}
.items-list-inner__item-info .svg {
  --svg-fill-color: #DCDCDC;
  margin-right: 4px;
}

.items-list-inner__item-info-inner {
  display: flex;
  margin-top: 12px;
}