.staff-list-inner {
}
.staff-list-inner__section {
  margin-top: 41px;
}
.staff-list-inner .staff-list-inner__section:first-child {
  margin-top: 0;
}
.staff-list-inner__section-content {
  margin-bottom: 24px;
}
.staff-list-inner__section-title {
  font-size: 1.73333em;
  line-height: calc(1em + 7px);
  color: #333;
  color: var(--white_text_black);
  margin-bottom: 23px;
}
.staff-list-inner__section-description {
}
.staff-list-inner__list {
}
.staff-list-inner__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 36px;
  border: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
}
.staff-list-inner__image-wrapper {
  position: relative;
  margin-right: 35px;
}
.staff-list-inner__image {
  width: 120px;
  height: 120px;
  position: relative;
  vertical-align: top;
  display: inline-block;
}
.staff-list-inner__image-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.staff-list-inner__content-wrapper {
  position: relative;
  width: 100%;
}
.staff-list-inner__top {
  position: relative;
  margin-bottom: 14px;
}
.staff-list-inner__bottom {
}
.staff-list-inner__label {
  font-size: 0.86667em;
  line-height: calc(1em + 7px);
  color: #999999;
  margin-bottom: 5px;
}
.staff-list-inner__name {
  font-size: 1.2em;
  line-height: calc(1em + 7px);
  color: #333333;
  color: var(--white_text_black);
  font-weight: bold;
}
.staff-list-inner__properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -19px;
  margin-right: -19px;
  margin-top: -14px !important;
}
.staff-list-inner__property {
  padding: 0 19px;
  margin-top: 14px;
}
.staff-list-inner__property-label {
  font-size: 0.86667em;
  line-height: calc(1em + 7px);
  color: #999999;
}
.staff-list-inner__property-value {
}
.staff-list-inner__feedback {
  margin-top: -2px;
}
.staff-list-inner__arrow--mobile {
  display: none;
}
.staff-list-inner__description {
  padding-top: 20px;
}
.staff-list-inner__description p:last-child {
  margin-bottom: 0;
}
.staff-list-inner__list--border-edging .staff-list-inner__item {
  border-radius: 0;
}
.staff-list-inner__list--border-edging .staff-list-inner__wrapper:first-child .staff-list-inner__item {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.staff-list-inner__list--border-edging .staff-list-inner__wrapper:last-child .staff-list-inner__item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
@media (max-width: 1200px) {
  .staff-list-inner__property--feedback {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .staff-list-inner__item {
    flex-direction: column;
  }
  .staff-list-inner__image-wrapper {
    margin: 0 0 33px 0;
  }
  .staff-list-inner__properties,
  .staff-list-inner__properties.line-block {
    align-items: flex-start;
  }
  .staff-list-inner__property {
    margin: 14px 0 0 0;
  }
  .staff-list-inner__property {
  }
  .staff-list-inner__property--feedback {
    width: 100%;
  }
  .staff-list-inner__property--socials {
    width: 100%;
  }
  .staff-list-inner__socials {
    margin-top: 5px;
  }
  .staff-list-inner__arrow--mobile {
    display: block;
  }
  .staff-list-inner__arrow--desktop {
    display: none;
  }
}
