.catalog-detail__gallery__item {
  background-color: var(--black_bg_black);
}
.catalog-detail {
  display: flex;
  flex-direction: row;
  position: relative;
}
.catalog-detail img {
  display: inline-block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}
.catalog-detail__right-info {
  order: 1;
  padding-left: 48px;
  width: 400px;
}
.catalog-detail__main {
  flex-grow: 1;
}
.catalog-detail__main-part--right {
  max-width: 424px;
}
@media (min-width: 1200px) {
  .catalog-detail__item,
  .catalog-detail__right-info {
    min-width: 0; /* fix slider in flex */
  }
}
@media (max-width: 1199px) {
  .catalog-detail__gallery.catalog-detail__gallery--horizontal.image-list__link {
    position: static;
  }
}

/* countdown */
.catalog-detail__countdown .countdown {
  margin: 7px 0 0 0;
}

/* price */
.catalog-detail__price .price__new-val {
  font-size: 1.6em;
  line-height: calc(1em + 7px);
}
.catalog-detail__price .price__old {
  margin-top: -1px;
}
.catalog-detail__price .price__economy {
  margin: 0px 0 0 4px;
}

/* cart buttons block */
.catalog-detail__cart {
  margin: 19px 0 0 0;
}
.catalog-detail__cart .buttons + .info-buttons {
  margin-top: 0;
  margin-left: -6px;
  margin-right: -6px;
}
.buy_block + .info-buttons {
  margin-top: 10px;
}
.catalog-detail__cart .buttons + .info-buttons > .info-buttons__item {
  margin-top: 12px;
  margin-right: 6px;
  margin-left: 6px;
}
.catalog-detail__cart .buttons + .info-buttons > .info-buttons__item--question .btn.btn-default {
  margin-left: 0 !important;
}
@media (max-width: 767px) {
  .catalog-detail__cart .buttons + .info-buttons {
    flex-wrap: wrap;
  }
}