/*vars*/
.footer {
  --d2d_dark_light: var(--light, #2d2d2d) var(--dark, #121212);
  --d3_dark_light: var(--light, #333333) var(--dark, #121212);
  --df4_dark_light: var(--light, #f4f4f4) var(--dark, #121212);
  --d1b_dark_light: var(--light, #333) var(--dark, #1b1b1b);
  --d6t9_dark_light: var(--light, #666) var(--dark, #999);
  --d3t9_dark_light: var(--light, #333) var(--dark, #999);
  --df_opacity_dark_light: var(--light, #ffffff1a) var(--dark, #3a3a3a);
  --dff_opacity_dark_light: var(--light, #00000026) var(--dark, #ffffff26);
}
/**/

.footer {
  border-top: 1px solid #ffffff1a;
  border-top-color: var(--df_opacity_dark_light);
  background: #333;
  background: var(--d1b_dark_light);
  /* margin-top: -1px; */
}
.footer--nowrap {
  white-space: nowrap;
}
.footer--mw500 {
  max-width: 500px;
}
.footer--mw-290 {
  max-width: 290px;
}
.footer--mt-3 .icon-block--with_icon {
  margin-top: 3px;
}

.footer__top-part {
  background: #2d2d2d;
  background: var(--d2d_dark_light);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom-color: var(--df_opacity_dark_light);
  padding: 49px 0;
}
.footer__main-part {
  position: relative;
}
.footer__main-part-inner {
  display: flex;
  justify-content: space-between;
  padding: 56px 0 16px;
}
.footer__main-part-inner--pb42 {
  padding-bottom: 42px;
}
.footer__bottom-part-inner {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-top-color: var(--df_opacity_dark_light);
  padding: 47px 0;
}
.footer__bottom-part-inner--no-border {
  border: none;
  padding: 60px 0px;
}
.footer__bottom-part-inner--big-padding {
  padding: 77px 0px 63px;
}

.footer .js-padding {
  padding: 40px 0px 40px;
  border-top-color: transparent;
}
.footer__bottom-part {
  position: relative;
}
.footer__main-part .footer__part-item {
  flex: 1;
}
.footer__bottom-part .footer__part-item {
  margin: 16px;
}
.footer__bottom-part .footer__bottom-part-items-wrapper {
  margin: -16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#bx-composite-banner:empty {
  display: none;
}
.footer__part-item--subscribe {
  background: #333;
  background: var(--d1b_dark_light);
}
.footer__part-item--subscribe .btn.btn-transparent-border {
  border-color: rgba(255, 255, 255, 0.1);
}
.footer--color-light .footer__part-item--subscribe {
  background: #fafafa;
  background: var(--light_bg_black);
}
.footer--color-light .footer__part-item--subscribe .btn.btn-transparent-border {
  border-color: rgba(51, 51, 51, 0.1);
}

.footer .footer__part-item--subscribe .btn .svg-inline-subscribe * {
  fill: none;
}

.footer__main-part-inner--bordered {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 58px 67px 38px;
}

/* MENU */
.bottom-menu .item-link > span {
  display: none;
}
.bottom-menu .items {
  padding: 0px 20px 40px 0px;
}
.bottom-menu .items .item-link {
  line-height: normal;
}
.bottom-menu .items .item {
  line-height: normal;
  display: inline-block;
}

.bottom-menu--normal .items > .item-link a:not(:hover) {
  color: #fff;
}
.bottom-menu--normal .wrap .title a:not(:hover) {
  color: #999;
}
.footer--color-dark .bottom-menu .item:hover .title a,
.footer--color-dark .bottom-menu .item.active .title a {
  color: #999 !important;
}
.footer--color-dark .wrap_compact_mobile .item:hover .title a,
.footer--color-dark .wrap_compact_mobile .item.active .title a {
  color: #fff !important;
}
.footer--color-dark .footer__license .dark_link:hover,
.footer--color-dark .footer__part-item-sitemap .dark_link:hover {
  color: #fff;
}
.bottom-menu--normal .items > .wrap {
  margin: 20px 0 0px 0;
}
.bottom-menu--normal .items > .wrap .item-link {
  margin: 8px 0;
}
.bottom-menu--normal .items > .wrap .item-link--first {
  margin-top: 0;
}
.bottom-menu--normal .items > .wrap .item-link--last {
  margin-bottom: 0;
}

.bottom-menu--bold .item-link {
  margin: 20px 0;
}
.bottom-menu--bold .items {
  margin: -20px 0;
}
.bottom-menu--bold .item-link a:not(:hover) {
  color: #fff;
}

.footer--menu-padding .items {
  padding: 0px 0px 33px;
}

/* INFO */
.footer__info {
  margin: -15px 0;
}
.footer__info-item {
  margin: 15px 0;
}

.footer__info--pt-2 {
  padding-top: 2px;
}
.footer__info--row {
  padding: 47px 0 42px;
}
.footer__info--row-paddings {
  padding: 54px 0 65px;
}

.footer__phone .phones {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2px;
}
.footer__phone .phones .phones__inner > .phones__phone-link {
  color: #fff;
}
.footer__phone .phones .more-arrow svg * {
  fill: #fff;
}
.footer__phone .phones .phones__dropdown {
  left: 8px;
}
.footer__phone .phones .phones__callback:not(:hover) {
  color: #999;
}
.footer__phone .phones .phones__callback {
  margin-left: 27px;
}
.footer__phone .icon-block__icon {
  margin-right: 19px;
}

.footer__email {
  display: flex;
}
.footer__email .svg-inline-email {
  margin-top: 4px;
  margin-right: 17px;
}
.footer__email .svg-inline-email * {
  stroke: #ddd;
}
.footer__email a:not(:hover) {
  color: #fff;
}
.footer--color-dark .footer__email a:hover {
  color: #999;
}

.footer__address .icon-block__icon {
  margin-left: 1px;
  margin-top: -3px;
  margin-right: 18px;
}
.footer__address .address__text {
  color: #fff;
  max-width: none;
}

/* SOCIAL */
.footer__social .social__items {
  margin: -4.5px;
}
.footer__social .social__item {
  padding: 0;
  border-radius: 4px;
  margin: 4.5px;
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #474747;
}
.footer__social .social__link {
  width: 37px;
  height: 37px;
  transition: opacity 0.3s ease-in-out;
}
.footer__social .social__link:hover {
  filter: grayscale(0);
}

.footer__info--part-right .footer__social {
  margin-top: 13px;
}
.footer__part-item .footer__social {
  margin-top: 23px;
}

/* SUBSCRIBE */
.subscribe-block__part--left {
  display: flex;
  align-items: center;
  margin-right: 122px;
  margin-top: 2px;
}
.subscribe-block__part--right {
  width: 40%;
}
.subscribe-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-block__text {
  color: #fff;
  margin-left: 23px;
}
.svg-inline-subscribe svg * {
  stroke: #fff;
  opacity: 0.5;
}
.icon-block:hover svg path {
  opacity: 1;
}

.subscribe-form {
  position: relative;
  display: flex;
  align-items: center;
}

.subscribe-form__save {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70px;
  cursor: pointer;
}
.subscribe-btn {
  background: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  z-index: 1;
}
.subscribe-input {
  height: 46px;
  background: #ffffff;
  background: var(--dff_dark_light);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-color: var(--dff_opacity_dark_light);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 17px;
  color: #888;
}

.footer--color-dark .subscribe-edit:not(:hover) .subscribe-input:not(:focus) {
  background-color: #333;
  background-color: var(--d3_dark_light);
  border-color: rgba(255, 255, 255, 0.15);
}
.subscribe-form__right-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.subscribe-form__right-arrow-line {
  background: #cacaca;
  height: 2px;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% - 41px);
  transition: left ease 0.5s;
}
.footer--color-dark .subscribe-edit .svg path {
  stroke: #7a7a7a;
}
.footer--color-dark .subscribe-edit .subscribe-form__right-arrow-line {
  background: #7a7a7a;
}

.subscribe-edit:hover .subscribe-form__right-arrow-line,
.subscribe-input:focus ~ .subscribe-form__save .subscribe-form__right-arrow-line {
  left: calc(100% - 56px);
  background-color: var(--theme-base-color);
}
.subscribe-edit:hover .svg path,
.subscribe-input:focus ~ .subscribe-form__save .svg path {
  stroke: var(--theme-base-color);
}

/* PAY SUSTEMS */
.footer__pays {
  margin: -5px -10px 4px;
}
.footer__pays i {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
  background: url("../images/svg/payment.svg") 0px 0px no-repeat;
}
.footer__pays i:hover {
  opacity: 1;
}
.footer__pays i.cacsh {
  width: 20px;
  height: 20px;
  background-position: 0px -298px;
}
.footer__pays i.cacsh:hover {
  background-position: 0px -198px;
}
.footer__pays i.mastercard {
  width: 24px;
  height: 16px;
  background-position: -279px -300px;
}
.footer__pays i.mastercard:hover {
  background-position: -327px -200px;
}
.footer__pays i.visa {
  width: 32px;
  height: 10px;
  background-position: -40px -304px;
}
.footer__pays i.visa:hover {
  background-position: -40px -204px;
}
.footer__pays i.yandex_money {
  width: 25px;
  height: 19px;
  background-position: -534px -298px;
}
.footer__pays i.yandex_money:hover {
  background-position: -626px -198px;
}
.footer__pays i.webmoney {
  width: 17px;
  height: 18px;
  background-position: -127px -299px;
}
.footer__pays i.webmoney:hover {
  background-position: -127px -199px;
}
.footer__pays i.qiwi {
  width: 19px;
  height: 20px;
  background-position: -165px -298px;
}
.footer__pays i.qiwi:hover {
  background-position: -165px -198px;
}
.footer__pays i.sbrf {
  width: 19px;
  height: 20px;
  background-position: -240px -298px;
}
.footer__pays i.sbrf:hover {
  background-position: -240px -198px;
}
.footer__pays i.alfa {
  width: 14px;
  height: 19px;
  background-position: -323px -298px;
}
.footer__pays i.alfa:hover {
  background-position: -415px -198px;
}

.footer__pays i.mir {
  width: 36px;
  height: 20px;
  background-position: -357px -298px;
}
.footer__pays i.mir:hover {
  background-position: -449px -198px;
}
.footer__pays i.jcb {
  width: 22px;
  height: 19px;
  background-position: -412px -298px;
}
.footer__pays i.jcb:hover {
  background-position: -504px -198px;
}
.footer__pays i.paypal {
  width: 15px;
  height: 19px;
  background-position: -205px -298px;
}
.footer__pays i.paypal:hover {
  background-position: -205px -198px;
}
.footer__pays i.maestro {
  width: 24px;
  height: 16px;
  background-position: -279px -300px;
}
.footer__pays i.maestro:hover {
  background-position: -371px -200px;
}
.footer__pays i.yoomoney {
  width: 25px;
  height: 18px;
  background-position: -534px -299px;
}
.footer__pays i.yoomoney:hover {
  background-position: -626px -199px;
}
.footer__pays i.yookassa {
  width: 25px;
  height: 18px;
  background-position: -534px -299px;
}
.footer__pays i.yookassa:hover {
  background-position: -671px -199px;
}
.footer__pays i.belkart {
  width: 20px;
  height: 20px;
  background-position: -579px -298px;
}
.footer__pays i.belkart:hover {
  background-position: -716px -198px;
}
.footer__pays i.halva {
  width: 18px;
  height: 18px;
  background-position: -619px -299px;
}
.footer__pays i.halva:hover {
  background-position: -756px -199px;
}
.footer__pays i.tinkoff {
  width: 63px;
  height: 16px;
  background-position: -657px -300px;
}
.footer__pays i.tinkoff:hover {
  background-position: -657px -300px;
}

/* LANG */
.footer__lang .sites__current:not(:hover) {
  color: #999;
}
.footer__lang .more-arrow * {
  fill: #888;
}

.footer--color-dark .color-theme-parent-all:hover .color-theme-target,
.footer__part-item--subscribe .color-theme-parent-all:hover .color-theme-target {
  color: #fff;
}
.footer--color-dark .stroke-theme-parent-all:hover .stroke-theme-target *,
.footer__part-item--subscribe .stroke-theme-parent-all:hover .stroke-theme-target * {
  stroke: #fff;
}
.footer--color-dark .fill-theme-parent-all:hover .fill-theme-target * {
  fill: #fff;
}

/* LIGHT */
.footer.footer--color-light {
  border-color: #e5e5e5;
  border-color: var(--stroke_black);
  background: linear-gradient(0deg, #fafafa, #fafafa), #ffffff;
  background: var(--light_bg_black);
}
.footer--color-light .footer__top-part {
  background: #f4f4f4;
  background: var(--df4_dark_light);
  border-bottom: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
}

.footer--color-light .footer__main-part-inner--bordered {
  border-color: #e5e5e5;
  border-color: var(--stroke_black);
}

.footer--color-light .footer__bottom-part-inner {
  border-top-color: #e5e5e5;
  border-color: var(--stroke_black);
}

/* INFO */
.footer--color-light .footer__phone .phones .phones__inner > .phones__phone-link {
  color: #333;
  color: var(--white_text_black);
}
.footer--color-light .footer__phone .phones .more-arrow svg * {
  fill: #333;
  fill: var(--white_text_black);
}

.footer--color-light .footer__email .svg-inline-email * {
  stroke: #333;
  stroke: var(--white_text_black);
}
.footer--color-light .footer__email a:not(:hover) {
  color: #333;
  color: var(--white_text_black);
}

.footer--color-light .footer__address .address__text {
  color: #333;
  color: var(--white_text_black);
}

.footer--color-dark .footer__phone .phones__callback:hover {
  color: #fff;
}

/* MENU */
.footer--color-light .bottom-menu--normal .items > .item-link a:not(:hover) {
  color: #333;
  color: var(--white_text_black);
}
.footer--color-light .bottom-menu--bold .item-link a:not(:hover) {
  color: #333;
  color: var(--white_text_black);
}
.footer--color-light .bottom-menu--normal .wrap .title a:not(:hover) {
  color: #666;
  color: var(--d6t9_dark_light);
}

/* SUBSCRIBE */
.footer--color-light .svg-inline-subscribe svg * {
  stroke: #333;
  stroke: var(--white_text_black);
}
.footer--color-light .subscribe-block__text {
  color: #333;
  color: var(--white_text_black);
}
.subscribe {
  cursor: pointer;
  font-weight: normal;
}
.btn .subscribe__text {
  color: #fff;
  position: relative;
  top: 1px;
}
.footer--color-light .btn .subscribe__text {
  color: #333;
}

/* DEVELOPER */
.developer {
  display: flex;
  align-items: center;
  --developer_logo_hover_filter: var(--light, none) var(--dark, brightness(110%) contrast(150%));
}
a.developer:not(:hover) {
  color: #999;
}
.footer--color-dark a.developer:hover {
  color: #fff;
}
.footer--color-light a.developer:hover {
  color: #555;
  color: var(--fill_dark_light_white_hover);
}
.developer__title {
  margin: 0 15px 0 0;
}
.developer__logo {
  max-height: 40px;
  max-width: 90px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.developer__logo svg {
  max-height: 40px;
  max-width: 90px;
}
.developer__logo img {
  max-width: 100%;
  max-height: 40px;
}
.footer--color-light a.developer:hover .developer__logo {
  filter: none;
  filter: var(--developer_logo_hover_filter);
}
.footer--color-dark a.developer:hover .developer__logo {
  filter: brightness(110%) contrast(150%);
}

/* SOCIAL */
.footer--color-light .footer__social .social__item {
  background: #e6e6e6;
}

/* PAY SUSTEMS */
.footer__pays i.cacsh:not(:hover) {
  background-position: 0px -248px;
}
.footer__pays i.mastercard:not(:hover) {
  background-position: -279px -250px;
}
.footer__pays i.visa:not(:hover) {
  background-position: -40px -254px;
}
.footer__pays i.yandex_money:not(:hover) {
  background-position: -534px -248px;
}
.footer__pays i.webmoney:not(:hover) {
  background-position: -127px -249px;
}
.footer__pays i.qiwi:not(:hover) {
  background-position: -165px -248px;
}
.footer__pays i.sbrf:not(:hover) {
  background-position: -240px -248px;
}
.footer__pays i.alfa:not(:hover) {
  background-position: -323px -248px;
}

.footer__pays i.mir:not(:hover) {
  background-position: -357px -248px;
}
.footer__pays i.jcb:not(:hover) {
  background-position: -412px -248px;
}
.footer__pays i.paypal:not(:hover) {
  background-position: -205px -248px;
}
.footer__pays i.maestro:not(:hover) {
  background-position: -279px -250px;
}
.footer__pays i.yoomoney:not(:hover) {
  background-position: -534px -249px;
}
.footer__pays i.yookassa:not(:hover) {
  background-position: -534px -249px;
}
.footer__pays i.belkart:not(:hover) {
  background-position: -579px -248px;
}
.footer__pays i.halva:not(:hover) {
  background-position: -619px -249px;
}
.footer__pays i.tinkoff:not(:hover) {
  background-position: -657px -249px;
}
.footer__pays i.tinkoff:hover {
  background-position: -794px -199px;
}

/* LANG */
.footer--color-light .footer__lang .sites__current {
  color: #333;
  color: var(--d3t9_dark_light);
}
/*.footer--color-light .footer__lang .more-arrow * {
  fill: #333;
}*/
.footer .fa.fa-angle-down path{
  fill: #fff;
}
.footer .items.opened .fa.fa-angle-down{
  transform: rotateX(180deg);
}

@media (max-width: 1200px) {
  .footer__main-part-inner {
    flex-wrap: wrap;
  }
  .footer__info--row > .line-block {
    flex-wrap: wrap;
  }
  .footer .flex-33-1200 {
    width: 33%;
    flex: auto;
  }
  .footer .flex-50-1200 {
    width: 50%;
    flex: auto;
  }
  .footer .flex-100-1200 {
    width: 100%;
    flex: auto;
  }
  .footer__main-part .offset-top-1200 {
    margin-top: 48px;
  }
}
@media (max-width: 991px) {
  .footer .flex-50-991 {
    width: 50%;
  }
  .footer .flex-100-991 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .footer__pays--on-line {
    position: absolute;
    bottom: -11px;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding: 0px 23px;
    background: #333;
    background: var(--d1b_dark_light);
  }
  .footer--color-light .footer__pays--on-line {
    background: #fafafa;
    background: var(--light_bg_black);
  }
  .footer__part-item--subscribe {
    position: absolute;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
    padding: 0px 23px;
  }
}
@media (max-width: 767px) {
  .subscribe-block {
    justify-content: space-between;
  }
  .subscribe-block__part--left {
    margin-right: 32px;
  }
  .subscribe-block__part--right {
    flex: 1;
  }

  .footer__top-part {
    padding: 24px 0;
  }
  .footer__main-part-inner {
    padding: 32px 0 16px;
    flex-direction: column;
    border: none;
  }
  .footer__bottom-part-inner {
    padding: 16px 0;
  }

  .footer__info--row {
    padding: 24px 0px 0px;
  }

  .footer__info--row-paddings {
    padding-bottom: 24px;
  }

  .footer .flex-33-1200,
  .footer .flex-50-1200,
  .footer .flex-100-767 {
    width: 100%;
  }
  .footer__info--part-left > .line-block {
    flex-wrap: wrap;
    display: block;
  }
  .footer__main-part .offset-top-1200 {
    margin-top: 0;
    margin-bottom: 16px;
  }
  .bottom-menu .items {
    padding: 0px;
  }

  .bottom-menu .item-link > span {
    display: block;
    cursor: pointer;
  }
  .bottom-menu .items > .item-link {
    position: relative;
  }
  .bottom-menu--normal {
    margin-bottom: 15px;
  }
  .bottom-menu.bottom-menu--bold {
    padding-bottom: 16px;
  }
  .bottom-menu .items .fa {
    position: absolute;
    right: -5px;
    padding: 10px 5px 10px 5px;
    top: -10px;
  }
  .bottom-menu--normal .items > .wrap {
    margin-top: 16px;
  }
  .bottom-menu--bold .item-link {
    margin: 16px 0;
  }
}

@media (max-width: 600px) {
  .subscribe-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .subscribe-block__part--left {
    margin-bottom: 16px;
  }
  .subscribe-block__part--right {
    width: 100%;
  }

  .footer__bottom-part .footer__bottom-part-items-wrapper {
    margin: -8px;
  }
  .footer__bottom-part .footer__part-item {
    margin: 8px;
  }
  [class*="footer--mw"] {
    max-width: none;
  }
}
