body h1 {
  font-weight: 400;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: 400;
}
body .item-views.blocks h3,
body .item-views.blocks h3.title,
body .group-content h3 {
  font-weight: 400;
}

.switcher-title {
  font-weight: 400;
}
.option-font-bold{font-weight:400;}
