/* LEFT MENU */
.sidebar,
.sidearea {
  margin-bottom: 20px;
}
.sidearea .nav-list {
  margin-bottom: 32px;
}
.sidearea div.banner {
  margin-bottom: 20px;
}
/* .sidearea div.include {
  margin-top: -8px;
} */
.sidearea div.banner img {
  border: 0;
}

/* heading-top */
.slide-block__head:not(.closed) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.slide-block__head.closed .svg-inline-down {
  transform: rotate(180deg);
}

.slide-block__head.closed + .slide-block__body {
  display: none;
}
.slide-block__head {
  padding: 17px 23px 18px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  font-weight: bold;

  margin-bottom: -1px;
}
.slide-block__head .svg-inline-down {
  position: absolute;
  right: 15px;
  top: 27px;
  transition: transform 0.2s;
  width: 20px;
  height: 20px;
  margin: -10px 0 0;
  text-align: center;
  border-radius: 3px;
  line-height: 16px;
}
.slide-block__head.active-filter .svg.svg-inline-down:before {
  display: none;
}
.slide-block__head .svg-inline-down svg {
  display: inline-block;
}
/**/

.slide-block__head:not(.closed) + .slide-block__body .bordered {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.side-menu {
  overflow: hidden;
}
.side-menu li {
  padding: 0px;
  margin-bottom: 0px;
}
.side-menu .link-wrapper {
  display: block;
  position: relative;
}
.side-menu li a {
  position: relative;
  display: block;
}
#main .side-menu li:before {
  display: none;
}
.side-menu > li:not(:first-of-type) {
  border-top: 1px solid #e5e5e5;
  border-top: 1px solid var(--stroke_black);
}

.side-menu > li .top-level-link {
  padding: 17px 47px 16px 23px;
}
.side-menu > li .top-level-link:hover,
.side-menu > li .top-level-link:focus {
  background-color: transparent;
}

.side-menu__link-text {
  margin-right: 5px;
}
.side-menu__link-count {
  background: #f0f0f0;
  background: var(--darkerblack_bg_black);
  border: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  padding: 1px 6px 2px;
  color: #333;
  color: var(--white_text_black);
  font-weight: normal;
}

.menu-arrow.svg {
  position: absolute;
  right: 18px;
  top: 21px;
  width: 15px;
  height: 14px;
  text-align: center;
  line-height: 8px;
  border-radius: 3px;
  margin: 0;
}
.menu-arrow.svg svg {
  display: inline-block;
  /* vertical-align: middle; */
}
.submenu .menu-arrow.svg {
  top: 6px;
}
.active > .menu-arrow-wrapper > .menu-arrow {
  transform: rotate(180deg);
}
.bg-theme-parent-hover:hover .svg-inline-down path {
  fill: #fff;
}
.side-menu .submenu > li.child .sublink--child {
  padding-right: 47px;
}
.side-menu li.active .link--active {
  font-weight: bold;
}
.toggle_block {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 100%;
  bottom: 0;
  cursor: pointer;
}

.side-menu .submenu-wrapper {
  padding: 0px 0px 15px 22px;
  display: none;
  user-select: none;
}
.side-menu .submenu {
  padding: 0px 0px 0px 0px;
  list-style: none;
}
.side-menu .submenu .submenu-wrapper {
  padding: 0px 0px 0px 11px;
  margin-top: -1px;
}
.side-menu .submenu .submenu {
  padding: 7px 0px 9px 0px;
  margin: 0px 0px 0px;
  border: none;
}
.side-menu .submenu > li {
  margin-bottom: 0px;
}
.side-menu .submenu > li:last-child {
  margin: 0;
}
.side-menu .submenu > li:last-child .submenu {
  padding-bottom: 0px;
}
.side-menu .submenu > li a {
  text-decoration: none;
  padding: 3px 22px 3px 0px;
}

.sidebar.dropdown-menu {
  border-radius: 0;
  border: none;
  margin: -1px 0 0;
  top: auto;
  padding: 0;
  text-align: left;
  opacity: 0;
  display: none;
  right: auto;
  left: auto;
  width: 200px;
  background: #fff !important;
}
.sidebar.dropdown-menu .side-menu > li > a {
  padding: 15px 17px 15px 17px;
}

/*opened*/
.side-menu > li.opened.child .top-level-link {
  padding-bottom: 10px;
}
.side-menu li.opened.child > .link-wrapper .menu-arrow.svg {
  transform: rotate(180deg);
}

.link-with-flag:before {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  top: 24px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #9e9e9e;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0 50% 50% 0/0 50% 50% 0;
  width: 3px;
}
.opened .link-with-flag:before {
  opacity: 1;
}
.side-menu li.opened.child > .submenu-wrapper {
  display: block;
}
.link-with-flag > svg path {
  stroke: var(--fill_dark_light);
}
.link-with-flag:hover > svg path {
  stroke: var(--fill_dark_light_hover);
}
/**/
