/* REVIEWS */
.review-detail__item-header {
  padding: 41px 50px 20px;
}
.review-detail__item-image {
  margin: 9px 0px 0px 30px;
}
.review-detail__item-separator {
  margin: 0 6px;
  color: #e1e1e1;
}
.review-detail__item-bottom {
  padding: 8px 50px 50px;
}
.review-detail__item-top-info {
  margin-bottom: 4px;
}
.review-detail__item-info .votes_block {
  margin: 9px 0px 0px;
}
.review-detail__item-close {
  padding: 30px 0px 0px;
}
