.sale-linked {
  position: relative;
  padding: 21px 0 15px 102px;
}
.sale-linked--compact {
  padding: 0 63px 0 0;
}
.sale-linked__icon {
  position: absolute;
  left: 39px;
  top: 27px;
}
.sale-linked--compact .sale-linked__icon {
  left: initial;
  right: 0;
  top: 6px;
}
.sale-linked__title {
  margin: 0 0 4px 0;
}
.sale-linked--compact .sale-linked__title {
  margin: 0 0 5px 0;
}
.sale-linked__item {
  margin-bottom: 10px;
}
