@media (max-width: 991px) {
  /* Thumb Info */
  a.thumb-info span.thumb-info-title {
    font-size: 14px;
  }
  a.thumb-info span.thumb-info-more {
    font-size: 11px;
  }
  /* Misc */
  .thumbnail {
    border: 0;
  }
  div.flexslider [class*="col-md-"] img {
    display: inline;
    width: auto;
  }
  div.flexslider div.portfolio-item,
  div.flexslider article {
    margin: 0 auto 25px;
    text-align: left;
  }
  /* Scroll to Top */
  a.scroll-to-top {
    display: none !important;
  }
}
@media (max-width: 767px) {
  button.btn-responsive-nav {
    top: 15px;
  }
  div.slider > ul > li > div.caption {
    margin-left: 20px !important;
  }
  div.slider > ul > li > div.center-caption {
    margin-left: 0 !important;
  }
  .project.detail .valign {
    margin-bottom: 10px;
  }
}
@media (max-width: 479px) {
  body {
    font-size: 13px;
  }
  h2 {
    line-height: 40px;
  }
  span.arrow {
    display: none;
  }

  /* Flex Slider */
  div.flexslider,
  div.flexslider.unstyled,
  div.flexslider.unstyled {
    margin-top: 20px;
  }
}
