body .maxwidth-theme,
body.fill_bg_y.visible_banner .contacts-page-map,
body.fill_bg_y.visible_banner .banners-big .maxwidth-banner,
body.fill_bg_y.visible_banner > .body > .main,
body.fill_bg_y.visible_banner footer,
.banners-big.short-banner.small .maxwidth-banner,
.fill_bg_y.visible_banner header .line-row {
  max-width: 1412px;
}
body .maxwidth-theme--half {
  max-width: 706px;
}
body.fill_bg_y.visible_banner .banner.TOP_HEADER,
body.fill_bg_y.visible_banner .banner.TOP_UNDERHEADER {
  max-width: 1412px;
}
.body .main > .container.with_error > .row > .content-md > .page404 {
  max-width: 1312px;
  margin: auto;
}
.contacts-page-map + .contacts.contacts-page-map-overlay {
  max-width: 1344px;
}
body .maxwidth-banner.maxwidth-theme {
  max-width: 1348px;
}
body .maxwidth-theme-popup {
  max-width: 1348px !important;
}

/*grid*/
.grid-list--items-5 {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
/**/

@media (min-width: 1443px) {
  .grid-list--wide .services-list__item--big-padding {
    padding: 48px;
  }
  .grid-list--wide .services-list__item-additional-text-wrapper {
    left: 48px;
    right: 48px;
  }
  .grid-list--wide .services-list__item--has-additional-text .services-list__item-text-top-part .mCSB_container,
  .grid-list--wide .services-list__item--has-additional-text .services-list__item-text-bottom-part {
    padding-left: 48px;
    padding-right: 48px;
  }
  .grid-list--wide
    .services-list__item--has-additional-text
    .services-list__item-text-wrapper:not(.services-list__item-text-wrapper--has-bottom-part)
    .services-list__item-text-top-part
    .services-list__item-title
    + .services-list__item-preview-wrapper {
    margin-bottom: 33px;
  }
  .services-list--img-trl .grid-list--items-1 .services-list__item--big-padding,
  .sections-list--img-srl .grid-list--items-1 .sections-list__item--big-padding {
    padding: 41px 47px 44px;
  }
  .services-list--img-trl .grid-list--items-1 .services-list__item--big-padding .services-list__item-image-wrapper {
    margin-top: 6px;
  }
}

@media (min-width: 1430px) {
  /* 1366 + 32 + 32 */
  .owl-carousel--show-next.owl-carousel--narrow {
    margin-left: calc(100vw / 2 - 1364px / 2); /* 1348 and scroll 16px */
    margin-right: calc(100vw / 2 - 1364px / 2);
    padding: 0;
    max-width: 1348px;
    width: calc(100% - (100vw - 1364px));
  }

  .owl-carousel--show-next.owl-carousel--narrow .owl-stage-outer {
    padding-right: calc(100vw / 2 - 1364px / 2);
    margin-right: calc(-100vw / 2 + 1364px / 2);
    padding-left: calc(100vw / 2 - 1364px / 2);
    margin-left: calc(-100vw / 2 + 1364px / 2);
  }

  .gallery-list .owl-carousel--show-next.owl-carousel--narrow .owl-nav button.owl-prev {
    margin-left: calc((1364px - 100vw) / 2);
  }
  .gallery-list .owl-carousel--show-next.owl-carousel--narrow .owl-nav button.owl-next {
    margin-right: calc((1364px - 100vw) / 2);
  }
  .gallery-list .owl-carousel--items-1.owl-carousel--show-next {
    max-width: 990px;
  }
  .gallery-list .owl-carousel--items-1.owl-carousel--show-next .owl-nav button.owl-next {
    margin-right: calc((649px - 100vw) / 2);
  }
  .gallery-list .owl-carousel--items-1:not(.owl-carousel--show-next) .owl-nav button.owl-prev {
    margin-left: calc((100% - 1348px) / 2);
  }
  .gallery-list .owl-carousel--items-1:not(.owl-carousel--show-next) .owl-nav button.owl-next {
    margin-right: calc((100% - 1348px) / 2);
  }
}

@media all and (max-width: 1480px) {
  body .banners-big .flexslider:hover .nav-carousel .flex-direction-nav li.flex-nav-prev {
    left: 0px;
  }
  body .banners-big .flexslider:hover .nav-carousel .flex-direction-nav li.flex-nav-next {
    right: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .contacts-page-map + .contacts.contacts-page-map-overlay {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media all and (min-width: 768px) {
  .contacts-page-map + .contacts.contacts-page-map-overlay {
    max-width: 1330px;
  }
}

.header--narrow .hide-name-narrow .header__icon-name,
.header--narrow .hide-narrow {
  display: none;
}

.header--narrow .line-block--24-narrow {
  margin: 0 -12px;
}
.header--narrow .line-block--24-narrow .line-block__item {
  padding: 0 12px;
}

.header--narrow .header-menu--bottom-narrow {
  position: absolute;
  top: 100%;
  left: -32px;
  right: -32px;
  border-bottom: 1px solid #e5e5e5;
}
.header--narrow.header--offset .header-menu--bottom-narrow {
  border-bottom: none;
  border-top: 1px solid #e5e5e5;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 4px 4px;
  left: 0;
  right: 0;
}

.owl-carousel--button-bottom-right.owl-carousel--button-maxwidth-theme .owl-nav {
  right: calc((100% - 1348px) / 2);
}
.owl-carousel__dots--right.owl-carousel__dots--maxwidth-theme {
  right: calc((100% - 1348px) / 2 + 88px);
}

@media (max-width: 1476px) {
  body .owl-carousel--button-bottom-right.owl-carousel--button-maxwidth-theme .owl-nav {
    left: auto;
    right: 32px;
    bottom: 32px;
    transform: none;
  }
  body .owl-carousel__dots--right.owl-carousel__dots--maxwidth-theme {
    left: auto;
    right: calc(32px + 88px);
    bottom: 50px;
    transform: none;
  }
}
@media (max-width: 1998px) and (min-width: 768px) {
  .banners-big--side-banners .owl-carousel--button-bottom-right.owl-carousel--button-maxwidth-theme .owl-nav {
    left: auto;
    right: 32px;
    bottom: 32px;
    transform: none;
  }
  .banners-big--side-banners .owl-carousel__dots--right.owl-carousel__dots--maxwidth-theme {
    left: auto;
    right: calc(32px + 88px);
    bottom: 50px;
    transform: none;
  }
}

.header--narrow .header-menu__item {
  margin: 0 20px;
}
.header--narrow .header-menu__item--first {
  margin-left: 0;
}
.header--narrow .header-menu__item--last,
.header--narrow .header-menu__item--more-items {
  margin-right: 0;
}
.header--narrow .header-menu {
  margin: 0;
}
