.company-item__info > div:first-of-type {
  margin-top: 0px;
}
.company-item__info--mt-n6 {
  margin-top: -6px;
}
.company-item__tizers {
  margin-top: 28px;
}
.company-item--mt-49 {
  margin-top: 49px;
}
.company-item__picture-wrapper {
  position: relative;
}
.company-item__picture--BOTTOM {
  height: 500px;
  position: relative;
}
.company-item__picture--mt-89 {
  margin-top: 89px;
}
.company-item__picture--no-fon {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: auto;
  border-radius: 0px;
}
.company-item--IMG_SIDE .company-item__heading {
  align-self: center;
}
.company-item__text p:last-of-type {
  margin-bottom: 0px;
}
.company-item__picture-wrapper .video-block iframe,
.company-item__picture .video-block iframe  {
  display: none;
}

/*tizers*/
.tizers-list__item-image-wrapper--position-TOP.tizers-list__item-image-wrapper--ICONS {
  margin-bottom: 26px;
}

@media (min-width: 992px) {
  .company-item__heading--RIGHT > div {
    padding-right: 100px;
  }
  .company-item__heading--LEFT > div {
    padding-left: 100px;
  }
  .company-item__heading--LEFT .maxwidth-theme--half {
    padding-right: 32px;
  }
  .company-item__heading--RIGHT .maxwidth-theme--half {
    padding-left: 32px;
    margin-left: auto;
  }
  .company-item__picture--static {
    position: static;
    height: 100vh;
    max-height: 500px;
    border-radius: 4px;
  }
  .company-item__picture-wrapper--wide {
    max-height: 100vh;
    height: 100%;
    padding-top: 67%;
  }
}
@media (max-width: 991px) {
  .company-item__picture--BOTTOM {
    height: auto;
    padding-top: 50%;
  }
  #main .company-item__picture-wrapper {
    padding-top: 50%;
    margin-top: 0px;
  }
  .maxwidth-theme--half {
    padding: 0px 24px;
    max-width: none;
  }
}
