# Для битрикса

/upload
/cgi-bin
/local/vendor
/.vscode
/bitrix

webstat
*.zip
*.rar
*.gz
*.tar
*.pdf
*.sql
*.log
*.mp3
*.svf
*.csv
*.xml
*.log
*.jpg
*.webp
*.mp4
*.txt
*.dat


/*.xml
/*.yml
/*.csv


.idea
Thumbs.db
._.DS_Store
.DS_Store

!.gitlab-ci.yml
!.gitignore
.htaccess
.htaccess.restore
robots.txt
feed*.xml

error_log*
site.webmanifest
test.php
sitemap.xml
sitemap_iblock_*.xml

favicon.ico

# ресурсы сайта
# Миграции (xml файлы)
!/local/php_interface/migrations/**/*
