@media (min-width: 992px) {
  body {
    padding-left: 271px;
  }

  body.left_header_column #headerfixed.fixed {
    left: 271px;
    width: calc(100% - 271px);
  }
}

.menu-side-column {
  margin-right: -20px;
}

.menu-side-column__inner {
  margin: 0 20px 0 2px;
  overflow: hidden;
}

.menu-side-column__item {
  padding-left: 0;
  position: relative;
  margin: 21px 0;
  display: flex;
}

body.menu_lowercase_n .menu-side-column__item > .menu-side-column__item-link {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.08em;
}

/*body.menu_lowercase_n .menu-side-column__dropdown .menu-side-column__item {*/
/*    font-size: 1em;*/
/*    line-height: calc(1em + 7px);*/
/*}*/

.menu-side-column__item--first {
  margin-top: -5px;
}

.menu-side-column__item--last {
  margin-bottom: -5px;
}

.menu-side-column__item-link {
  flex: 1;
  display: block;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 2;
  position: relative;
}

.menu-side-column__dropdown {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
  background: var(--black_bg_black);
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.1), -1px 0px 0px #e5e5e5;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.1), -1px 0px 0px var(--stroke_black);
  left: 271px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition-delay: 0.2s;
}

.menu-side-column__dropdown.active {
  opacity: 1;
  visibility: visible;
}

.menu-side-column__dropdown .mCustomScrollBox {
  max-height: inherit !important;
}

.menu-side-column__dropdown--level-2 {
  left: 571px;
}

.menu-side-column__dropdown--level-3 {
  left: 871px;
}

.menu-side-column__dropdown .left-menu-wrapper {
  padding: 0 39px;
}

.menu-side-column__dropdown-item {
  padding: 0;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
}

.menu-side-column__dropdown-item.current > a {
  font-weight: bold;
}

.menu-side-column__sub-dropdown-item {
  margin: 5px 0;
}

.menu-side-column__sub-dropdown-item--first {
  margin-top: 0;
}

.menu-side-column__sub-dropdown-item--last {
  margin-bottom: 0;
}

.menu-side-column__sub-dropdown-item.current > a {
  font-weight: bold;
}

.menu-side-column__sub-dropdown-item-link {
  display: inline-block;
}

/* WIDE_MENU */
.menu-side-column__dropdown--wide {
  width: 800px;
}

.menu-side-column__dropdown--with-banners {
  bottom: 161px;
}

.menu-side-column__dropdown--wide .left-menu-wrapper {
  padding: 48px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

/*
.menu-side-column__dropdown--wide .left-menu-wrapper--simple {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
*/

.menu-side-column__dropdown--wide .header-menu-side__dropdown-item {
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.menu-side-column__dropdown--wide .header-menu-side__dropdown-item--img-LEFT {
  flex-direction: row;
}

.menu-side-column__dropdown--wide .header-menu-side__wide-item-wrapper {
  white-space: normal;
}

.header-menu-side__wide-submenu-item--more_items {
  padding-left: 0;
  margin: 0;
  cursor: pointer;
}

.header-menu-side__wide-submenu-item--more_items svg {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 0px;
  margin: auto;
  bottom: 0;
  transform: rotate(90deg);
}

.header-menu-side__wide-submenu-item--more_items.opened svg {
  transform: rotate(-90deg);
}

.menu-side-column__dropdown--wide .header-menu-side__dropdown-item--centered {
  align-items: center;
}

.menu-side-column__dropdown--wide .header-menu-side__dropdown-item--centered.header-menu-side__dropdown-item--img-TOP {
  justify-content: center;
}

.menu-side-column__dropdown--wide .header-menu-side__dropdown-item--centered .header-menu-side__dropdown-item-img--TOP {
  justify-content: center;
}

.menu-side-column__dropdown--wide .header-menu-side__dropdown-item--img-LEFT .header-menu-side__wide-item-wrapper {
  margin-top: -4px;
}

.menu-side-column__dropdown--wide .header-menu-side__dropdown-item-img {
  width: 90px;
  height: 60px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.menu-side-column__dropdown--wide .header-menu-side__dropdown-item-img--LEFT {
  margin-right: 24px;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-end;
}

.menu-side-column__dropdown--wide .header-menu-side__dropdown-item-img--TOP {
  margin-bottom: 17px;
}

.menu-side-column__dropdown--wide .header-menu-side__wide-submenu {
  padding-top: 4px;
}

.header-menu-side__wide-submenu .header-menu-side__wide-submenu {
  margin-left: 12px;
  padding-bottom: 6px;
  padding-top: 5px;
}

.menu-side-column__dropdown--wide .header-menu-side__wide-submenu-item {
  padding: 2.5px 0;
  margin: 0;
  line-height: calc(1em + 6px);
}

.menu-side-column__dropdown--wide
  .header-menu-side__wide-submenu-item.active
  > .header-menu-side__wide-submenu-item-inner
  > a
  > .header-menu-side__wide-submenu-item-name {
  font-weight: bold;
}

.header-menu-side__wide-submenu .header-menu-side__wide-submenu-item {
  padding: 2px 0 1px;
}

.header-menu-side__wide-submenu-item.active
  > .header-menu-side__wide-submenu-item-inner
  > a
  > .header-menu-side__wide-submenu-item-name {
  font-weight: bold;
  color: #333;
  color: var(--white_text_black);
}

.header-menu-side__wide-submenu-item-inner .toggle_block {
  width: 25px;
  right: -25px;
  top: -2px;
  bottom: -2px;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

.header-menu-side__wide-submenu-right-arrow.menu-arrow {
  top: 5px !important;
  right: 6px !important;
}

.header-menu-side__wide-submenu-item-inner .toggle_block:hover .menu-arrow {
  background-color: #9e9e9e;
  background-color: var(--theme-base-opacity-color);
}

.header-menu-side__wide-submenu-item-inner.opened .menu-arrow.svg {
  transform: rotate(180deg);
}

.menu-side-column__dropdown--wide
  .header-menu-side__wide-submenu-item--with-dropdown:hover
  .header-menu-side__dropdown-popup {
  opacity: 1;
  visibility: visible;
}

.menu-side-column__dropdown--wide .header-menu-side__wide-submenu-item-inner {
  display: inline;
  position: relative;
}

.menu-side-column__dropdown--wide .header-menu-side__dropdown-popup {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition-delay: 0.2s;
  left: calc(100% + 20px);
  top: -22px;
  width: 200px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  z-index: 1;
  padding: 19px 24px;
}

.menu-side-column__dropdown--wide .header-menu-side__dropdown-popup-item {
  padding: 3px 0;
  margin-bottom: 0;
}

.menu-side-column__dropdown--wide .header-menu-side__dropdown-popup-item > a {
  display: inline-block;
}

.menu-side-column__dropdown--wide .header-menu-side__wide-item-description {
  color: #666;
  margin-top: 3px;
}

.menu-side-column__dropdown--wide .header-menu-side__wide-submenu--delimiter .header-menu-side__wide-submenu-item {
  display: inline;
  /* padding-right: 25px; */
}

.header-menu-side__wide-submenu--delimiter {
  line-height: 0;
}

.header-menu-side__wide-submenu-item-separator {
  color: #999;
}

.menu-side-column__dropdown--wide
  .header-menu-side__wide-submenu--delimiter
  .header-menu-side__wide-submenu-item:not(.active)
  .header-menu-side__wide-submenu-item-inner
  > a:not(:hover) {
  color: #666;
}

/* .menu-side-column__dropdown--wide
  .header-menu-side__wide-submenu--delimiter
  .header-menu-side__wide-submenu-item::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 1px;
  bottom: 9px;
  margin-left: 4px;
  background: #999;
} */

/* .menu-side-column__dropdown--wide
  .header-menu-side__wide-submenu--delimiter
  .header-menu-side__wide-submenu-item--last::after {
  content: none;
} */

.header-menu-side__wide-submenu-right-arrow {
  top: 12px;
}

.menu-side-column__dropdown--wide
  .header-menu-side__wide-submenu--delimiter
  .header-menu-side__wide-submenu-right-arrow {
  display: none;
}

.menu-side-column__wide-submenu-right-arrow {
  margin-left: 7px;
  margin-top: -1px;
  display: flex;
  align-items: center;
}

/* BOTTOM BANNERS */
.menu-side-column__bottom-banners {
  position: fixed;
  left: 271px;
  bottom: 0;
  width: 800px;
  height: 161px;
  background: #fff;
  background: var(--card_bg_black);
  padding: 34px 40px 40px;
  border-top: 1px solid #e5e5e5;
  border-top-color: var(--stroke_black);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition-delay: 0.2s;
  box-shadow: 10px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px #e5e5e5;
}

.menu-side-column__bottom-banners.active {
  opacity: 1;
  visibility: visible;
}

.bottom-banners__item {
  display: flex;
}

.bottom-banners__item-img {
  width: 120px;
  height: 80px;
  margin-top: 6px;
  margin-right: 23px;
  background-size: cover !important;
}

.bottom-banners__item-top-text {
  margin-bottom: 10px;
}

.bottom-banners__item-date {
  color: #999999;
  margin-top: 12px;
}

.header-menu-side__wide-submenu-item--more_items .menu-arrow {
  top: 1px;
  right: 0;
  line-height: 10px;
}
.header-menu-side__wide-submenu-item--more_items .menu-arrow svg {
  position: static;
}
.header-menu-side__wide-submenu-item--more_items .with_dropdown {
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .header__side-column-part {
    width: 248px;
  }

  .menu-side-column__dropdown {
    width: 248px;
    left: 248px;
  }

  .menu-side-column__dropdown--level-2 {
    left: 496px;
  }

  .menu-side-column__dropdown--level-3 {
    left: 744px;
  }

  .menu-side-column__dropdown .left-menu-wrapper {
    padding: 0 24px;
  }

  body {
    padding-left: 248px;
  }

  #main .container .right_block {
    width: 100%;
  }
  .container .left_block {
    display: none;
  }

  body.left_header_column #headerfixed.fixed {
    left: 248px;
    width: calc(100% - 248px);
  }

  .menu-side-column__dropdown--wide {
    width: 644px;
  }

  .menu-side-column__dropdown--wide .left-menu-wrapper {
    grid-gap: 24px;
    padding: 32px 24px;
  }

  .menu-side-column__bottom-banners {
    position: fixed;
    left: 248px;
    width: 644px;
    padding: 24px;
  }
}

@media (max-width: 992px) {
  body {
    padding-left: 0px;
  }

  body.left_header_column #headerfixed.fixed {
    left: 0px;
    width: 100%;
  }
}
