.reviews-info {
  padding: 40px;
  background: linear-gradient(0deg, #fafafa, #fafafa), #ffffff;
  background: var(--black_bg_black);
  border: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 40px;
}
.reviews-info__line,
.reviews-info__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews-info__icon {
  margin-right: 23px;
}
.reviews-info__btn-wrapper {
}
.reviews-info__property-value {
}
.reviews-info__text {
  margin-top: -6px;
  margin-right: 40px;
}
.reviews-info__text p:last-child {
  margin-bottom: 0;
}
.reviews-info__btn-wrapper--singleton {
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  .right_block.narrow_Y .reviews-info__line {
    flex-wrap: wrap;
  }
  .right_block.narrow_Y .reviews-info__btn-wrapper {
    margin-right: 0;
    margin-top: 20px;
    margin-left: 64px;
    text-align: left;
  }
  .right_block.narrow_Y .reviews-info__btn-wrapper--singleton {
    margin: 0;
    padding: 0;
  }
  .reviews-info__text {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .right_block.narrow_Y .reviews-info__line {
    flex-wrap: wrap;
  }
  .right_block.narrow_Y .reviews-info__btn-wrapper {
    margin-right: 0;
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
  }
  .right_block.narrow_Y .reviews-info__btn-wrapper--singleton {
    margin: 0;
    padding: 0;
  }
  .reviews-info__text {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .reviews-info__line {
    flex-wrap: wrap;
  }
  .reviews-info__btn-wrapper {
    margin-right: 0;
    margin-top: 20px;
    margin-left: 64px;
    text-align: left;
  }
  .reviews-info__text {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .reviews-info__col,
  .reviews-info__line {
    flex-direction: column;
  }
  .reviews-info {
    padding: 38px 26px 35px;
  }
  .reviews-info__icon {
    margin-right: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  .reviews-info__text {
    margin-right: 0;
  }
  .reviews-info__btn-wrapper {
    margin-right: 0;
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
  }
  .reviews-info__line {
    flex-direction: column;
  }
}
