.catalog-detail__right-info {
  margin-bottom: 2.89rem;
}
.catalog-detail__top-info {
  padding: 0px;
  margin-bottom: 3.25rem;
}
.catalog-detail__gallery-wrapper {
  flex: 1;
}
.catalog-detail__main {
  flex-basis: calc(61% - 19px);
}
.with-leftblock .catalog-detail__main {
  /* flex-basis: calc(48% - 19px); */
}
.catalog-detail__info-tc {
  margin: -16px 0px 33px 0;
  border-bottom: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  padding: 0 0px 34px 0;
}
.catalog-detail__info-tech {
  margin: 13px 0 0 0;
}
body .catalog-detail__main-parts {
  align-items: flex-start;
}
@media (max-width: 1199px) {
  body .catalog-detail {
    display: block;
  }
  .catalog-detail__right-info {
    display: none;
  }
  .catalog-detail .catalog-detail__top-info {
    flex-direction: column;
  }
  .catalog-detail .catalog-detail__main {
    flex-basis: auto;
    padding: 35px 0 0 0;
  }
  .catalog-detail__info-tc {
    margin-top: 0;
    margin-left: -48px;
    padding-left: 48px;
  }
}
@media (min-width: 768px) {
  .catalog-detail__main-part .catalog-detail__info-tc {
    display: none;
  }
}
@media (max-width: 767px) {
  body .catalog-detail__top-info {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
  body .catalog-detail__info-tc {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 17px;
    padding-bottom: 17px;
  }
  body .catalog-detail__main-part {
    width: 100%;
  }
  .bx-ie body .catalog-detail__main-part {
    flex-basis: auto;
  }
  body .catalog-detail__main-parts {
    flex-direction: column;
  }
  .catalog-detail__main-part--right {
    max-width: initial;
  }
}

/* buy block */
.catalog-detail__buy-block {
  position: relative;
  max-width: 376px;
}

/* garanty */
.catalog-detail__garanty {
  position: relative;
  margin: 18px 0 0 0;
}

/* main slider */
.catalog-detail__gallery.image-list__link {
  position: relative;
}
.catalog-detail__gallery {
  position: relative;
  /* padding: 0 45px; */
  /* padding: 0; */
  padding: 0 48px 0 0;
  margin: 0 auto;
}
.catalog-detail__gallery {
  --paddingRightLeft: 0px;
}
.catalog-detail__gallery__item > a,
.catalog-detail__gallery__item--no-image > span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}
.detail .catalog-detail__gallery-slider .catalog-detail__gallery__item img {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
.bx-ie .detail .catalog-detail__gallery-slider .catalog-detail__gallery__item img {
  width: inherit;
}
@media (max-width: 1199px) {
  .catalog-detail .catalog-detail__gallery {
    flex: 0 0 100%;
    width: 100%;
  }
  .bx-ie .catalog-detail .catalog-detail__gallery {
    flex-basis: auto;
  }
  .catalog-detail__gallery {
    padding: 0;
    max-width: var(--sizeImage);
  }
}

/* big slider */
.catalog-detail__gallery-slider.big {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.catalog-detail__gallery:not(.catalog-detail__gallery--vertical) .catalog-detail__gallery-slider.big {
  bottom: var(--bottomGallery);
}
.catalog-detail__gallery__item--big img {
  cursor: zoom-in;
}
.catalog-detail__gallery__item--big.catalog-detail__gallery__item--no-image img {
  cursor: auto;
}
.owl-carousel.catalog-detail__gallery-slider.big .owl-dots {
  position: relative;
  bottom: -8px;
  text-align: center;
}
.catalog-detail__gallery-slider.big .owl-nav .owl-prev {
  left: -35px;
}
.catalog-detail__gallery-slider.big .owl-nav .owl-next {
  right: -35px;
}
@media (max-width: 767px) {
  .catalog-detail__gallery-slider.big {
    bottom: 0;
  }
  .catalog-detail__gallery-wrapper {
    margin-bottom: 28px;
  }
}
@media (min-width: 768px) {
  .catalog-detail__gallery-slider.big .owl-dots {
    display: none;
  }
}

/* thmb slider */
.catalog-detail__gallery__thmb {
  position: relative;
  z-index: 1;
  /* background: #fff; */
}
.catalog-detail__gallery-slider.thmb {
  max-width: 270px;
  max-height: 58px;
  padding: 0 24px;
}
.catalog-detail__gallery-slider.thmb[data-size="0"],
.catalog-detail__gallery-slider.thmb[data-size="1"] {
  display: none;
}
.catalog-detail__gallery__thmb-wrapper {
  justify-content: center;
  padding: 16px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.catalog-detail__gallery-slider.thmb .owl-stage {
  display: flex;
  flex-direction: row;
}
.catalog-detail__gallery-slider.thmb .owl-item {
  width: 58px !important;
  height: 58px !important;
}
.catalog-detail__gallery__item--thmb {
  height: 58px;
  width: 58px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.owl-item.current .catalog-detail__gallery__item--thmb {
  border: 2px solid #9e9e9e;
  border: 2px solid var(--theme-base-color);
}
.detail .catalog-detail__gallery-slider .catalog-detail__gallery__item--thmb img {
  max-width: 50px;
  max-height: 50px;
}
.catalog-detail__gallery-slider.thmb .owl-stage-outer {
  z-index: 1;
}
.catalog-detail__gallery-slider.thmb .owl-nav {
  position: absolute;
  margin: 0;
  display: flex;
  justify-content: space-between;
  top: calc(50% - 20px);
  left: -16px;
  right: -16px;
}
.catalog-detail__gallery-slider.thmb .owl-carousel__button:hover {
  background-color: #fff;
}
.catalog-detail__gallery-slider.thmb .owl-carousel__button:hover svg * {
  stroke: #9e9e9e;
  stroke: var(--theme-base-color);
}
@media (max-width: 767px) {
  .catalog-detail__gallery__thmb {
    display: none;
  }
}

/* vertical slider */
.catalog-detail__gallery--vertical .catalog-detail__gallery-slider.thmb {
  height: 100%;
  max-height: 100%;
}
.catalog-detail__gallery--vertical .catalog-detail__gallery__thmb {
  transform: rotate(90deg);
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: -32px;
  right: 0;
  width: 100%;
}
.catalog-detail__gallery--vertical .catalog-detail__gallery__thmb-wrapper {
  justify-content: flex-start;
  padding-top: 0;
}
.catalog-detail__gallery--vertical .catalog-detail__gallery-slider.thmb .owl-stage {
  min-width: 58px;
}
.catalog-detail__gallery--vertical .catalog-detail__gallery-slider.thmb .owl-item {
  min-width: 58px;
  min-height: 58px;
}
.catalog-detail__gallery--vertical .catalog-detail__gallery-slider.thmb .catalog-detail__gallery__picture {
  transform: rotate(-90deg);
}
.catalog-detail__gallery.catalog-detail__gallery--vertical {
  --paddingRightLeft: 48px + 90px;
}
.catalog-detail__gallery--vertical .catalog-detail__gallery-slider.big {
  z-index: 2;
}
.catalog-detail__gallery--vertical .catalog-detail__gallery__item--thmb {
  margin-left: 1px;
}
@media (max-width: 1199px) {
  .catalog-detail__gallery--vertical .catalog-detail__gallery__thmb {
    left: calc(50% + 58px - 50vw + 32px + 8px + 48px);
  }
}
@media (max-width: 991px) {
  .catalog-detail__gallery--vertical .catalog-detail__gallery__thmb {
    left: calc(50% + 58px - 50vw + 24px + 8px + 48px);
  }
}

/* popup video */
.catalog-detail__gallery__thmb .popup_video {
  width: 32px;
  height: 32px;
  position: relative;
  font-size: 0;
  margin-left: 30px;
  display: none;
  z-index: 1;
}
.catalog-detail__gallery-slider.owl-loaded + .popup_video {
  display: block;
}
.catalog-detail__gallery--vertical .video-block__play {
  transform: rotate(-90deg);
}

/* more link */
.catalog-detail .more-char-link {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #9e9e9e;
  color: var(--fill_dark_light_white_hover);
  line-height: calc(1em + 10px);
}
.catalog-detail .more-char-link:hover,
.catalog-detail .more-char-link:focus {
  color: #222;
  color: var(--fill_dark_light_ccc);
}

/* preview text */
.line-block + .catalog-detail__previewtext {
  margin: 25px 0 0 0;
}
.catalog-detail__previewtext .text-block {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.catalog-detail__previewtext .text-block,
.catalog-detail__previewtext .more-char-link {
  line-height: calc(1em + 10px);
}
.catalog-detail__previewtext .text-block > p {
  display: inline;
}

/* chars */
@media (min-width: 768px) {
  .catalog-detail .char-side {
    margin: 2px 0 0 0;
  }
}
.detail .catalog-detail .properties {
  margin-top: 13px;
}
.catalog-detail .properties__item {
  margin-top: 6px;
}
.catalog-detail .char-side .more-char-link {
  margin: 13px 0 2px 0;
}
.catalog-detail .props_block .char_name .hint {
  display: inline;
  position: relative;
  padding-left: 3px;
}

/* brand info */
.catalog-detail .brand-detail-info__image {
  width: 70px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.catalog-detail .brand-detail-info__image a {
  max-width: 100%;
  max-height: 100%;
}
.catalog-detail .price_txt {
  margin: 18px 0 0 0;
}

/* bottom */
.catalog-detail__bottom-info-part--right {
  width: 400px;
  padding-left: 48px;
  order: 1;
  margin-top: 2.89rem;
  margin-bottom: 2.89rem;
}
.catalog-detail__bottom-info .ordered-block:first-of-type {
  margin-top: 2.89rem;
}
.catalog-detail__bottom-info .ordered-block.tabs-block {
  margin: 3.25rem 0px -0.55rem;
}
.catalog-detail__bottom-info-part--right .sticky-block > *:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .catalog-detail__bottom-info-part {
    min-width: 0; /* fix slider in flex */
  }
  .catalog-detail__gallery-outer > .sticker {
    padding-right: calc(48px + 30px);
  }
  .catalog-detail__gallery-outer > .sticker {
    top: 9px;
  } 
  .catalog-detail__gallery-outer {
    position: relative;
    margin-right: 30px;
  }

}
@media (max-width: 1199px) {
  body .catalog-detail__bottom-info-parts {
    display: block;
  }
  .catalog-detail__bottom-info-part--right {
    display: none;
  }
}
