.popup-sale__item-title {
  padding: 43px 49px 33px;
}
.popup-sale__item-text {
  padding: 0 50px 50px;
}
.popup-sale__item-info.line-block {
  margin-bottom: 21px;
}
.popup-sale__item-btn {
  margin-top: 33px;
}
.popup-sale__item-info .popup-sale__item-timer + .popup-sale__item-period {
  padding-left: 27px;
}
.popup-sale__item-period .svg {
  padding: 0 6px 0 0;
}
.popup-sale__item-sticker-value {
  background: #ffd600;
  font-weight: bold;
  display: inline-block;
  padding: 4px 10px 3px 9px;
  color: #333;
  vertical-align: top;
  height: 27px;
  margin-right: 7px;
  font-size: 12px;
  line-height: 20px;
}
.popup-sale .countdown {
  vertical-align: top;
}
.popup-sale__item-image-wrapper {
  position: relative;
  padding-top: 49%;
  margin: -8px 0 32px 0;
}
.popup-sale__item-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
@media (max-width: 600px) {
  .popup-sale__item-title,
  .popup-sale__item-text {
    padding-right: 20px;
    padding-left: 20px;
  }
}
