.catalog-list__item {
  padding: 25px 25px 22px;
  height: 100%;
}

/*info*/
.catalog-list__info-section {
  margin-bottom: 4px;
}
.catalog-list__info-tech {
  margin: 6px 0px 0px;
}
.catalog-list__info-text {
  margin: 18px 0px 0px;
}

/*button*/
.catalog-list__info-bottom .buttons .btn {
  display: block;
}

@media (max-width: 1300px) and (min-width: 992px) {
  .catalog-list__item .catalog-list__info {
    flex-direction: column;
    padding: 0px 0px 0px 40px;
  }
  .catalog-list__item .catalog-list__info-top {
    padding: 0px;
  }
  .catalog-list__item .catalog-list__info-bottom {
    padding: 25px 0px 0px 0px;
  }
}
@media (min-width: 992px) {
  .catalog-list__item {
    padding: 39px 39px 36px;
  }
  .catalog-list__item .catalog-list__info-bottom {
    flex-basis: 250px;
    width: 250px;
  }
}
@media (min-width: 900px) {
  .catalog-list__info-bottom {
    flex-basis: 185px;
    width: 185px;
  }
}
@media (max-width: 768px) {
  .catalog-list__item .catalog-list__info {
    flex-direction: column;
    padding: 0px 0px 0px 40px;
  }
  .catalog-list__item .catalog-list__info-top {
    padding: 0px;
  }
  .catalog-list__item .catalog-list__info-bottom {
    padding: 25px 0px 0px 0px;
  }
}
@media (min-width: 601px) {
  .catalog-list__item .image-list {
    width: 215px;
    flex-basis: 215px;
  }
  .catalog-list__item .side-icons .side-icons__item--ocb,
  .catalog-list__item .side-icons .side-icons__item--compare {
    display: none;
  }

  .catalog-list__info-top {
    flex: 1;
    padding: 0px 40px;
    margin-top: -5px;
  }
  .catalog-list__info-bottom > div:first-of-type {
    margin-top: 0px;
  }
  .catalog-list__info-bottom .btn-actions__inner {
    margin-top: 24px;
  }
}
@media (max-width: 600px) {
  .grid-list.grid-list--compact .catalog-list__item {
    padding: 16px 16px 12px;
  }
  .catalog-list__item .catalog-list__info {
    padding: 0px;
  }
  .catalog-list__item .catalog-list__inner {
    flex-direction: column;
  }
  .catalog-list__item .block-with-icon,
  .catalog-list__item .info-buttons {
    display: none;
  }
  .catalog-list__info-bottom > div {
    margin: 5px 0px;
  }
  .catalog-list__info-bottom .btn {
    font-size: 0.8667em;
    line-height: calc(1em + 3px);
    padding: 9px 15px 11px;
  }
  .catalog-list__info-bottom .btn .counter {
    height: 36px;
  }
  .catalog-list__item .catalog-list__info {
    margin-top: 23px;
    justify-content: space-between;
  }
  .catalog-list__item .catalog-list__info-text {
    font-size: 0.8em;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-line-clamp: 4;
    overflow: hidden;
  }
  .grid-list:not(.grid-list--compact) .catalog-list__info-text {
    display: none;
  }
}
