.props_block--table {
  padding: 30px 39px 32px;
}
.props_block__wrapper {
  margin-left: 0;
  margin-right: 0;
}
.props_block--table .props_block__wrapper {
  width: 100%;
  margin: 0px 0px 0px;
  border-collapse: collapse;
  border: 0px;
  table-layout: fixed;
}
.props_block:not(.props_block--table) .char {
  padding: 22px 25px;
  margin: 0px -1px -1px 0px;
}
.props_block:not(.props_block--table) .char:hover {
  background-color: var(--light, #fafafa) var(--dark, var(--card_bg_hover_black));
}
.props_block .char_name {
  text-align: left;
  margin-bottom: 6px;
  position: relative;
  word-break: break-word;
}

.props_block--table .props_item > span {
  background: #fff;
  background: var(--black_bg_black);
  padding-right: 10px;
}
.props_block--table .char_name,
.props_block--table .char_value {
  text-align: right;
  padding: 4px 0px 4px 10px;
  position: relative;
  vertical-align: bottom;
  width: 50%;
}
@media screen and (min-width: 501px) {
  .props_block--table .char:not(.char--middle) {
    position: relative;
  }
  .props_block--table .char:not(.char--middle) .char_name::before {
    border-bottom: 1px dotted #FFF;
    border-bottom: 1px dotted var(--basic_text_black);
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: calc(100% - 12px);
    left: 0;
    right: 0;
  }
  .props_block--table .char_value:not(.char--middle)::before {
    border-bottom: 1px dotted #FFF;
    border-bottom: 1px dotted var(--basic_text_black);
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: calc(100% - 12px);
    left: 0;
    right: 0;
  }
}
.props_block--table .char_name {
  text-align: left;
  padding-right: 10px;
  padding-left: 0px;
}
.props_block--table .char_name:first-of-type {
  width: 45%;
}
.props_block--table .char_value {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 55%;
}
.props_block--nbg .char_value {
  text-align: left;
}
.props_block--table.props_block--nbg .char_value::before {
  display: none;
}
.props_block--table .char_value > span {
  position: relative;
  background: #fff;
  background: var(--black_bg_black);
  display: inline-block;
  padding-left: 10px;
}
.props_block--table.props_block--nbg .char_value > span {
  padding-left: 0;
  padding-right: 10px;
}
.props_block--table .char_value > span .svg-inline-tariff-no {
  margin: -1px 0 0 2px;
}
.props_block--table .char_value > span .svg-inline-tariff-yes {
  margin: -3px 0 0 2px;
}
@media (max-width: 767px) {
  .props_block .char_value {
    font-size: 0.93333em;
    line-height: calc(1em + 7px);
  }
}
@media (min-width: 501px) {
  .props_block--line {
    padding: 0;
  }
  .props_block--line .char_name {
    padding-left: 20px;
  }
  .props_block--line .char_value {
    padding-right: 20x;
  }
  .props_block--line .char_name,
  .props_block--line .char_value {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: none;
    border-top: 1px solid #e5e5e5;
    border-color: var(--stroke_black);
  }
  .props_block--line tr:first-of-type .char_name,
  .props_block--line tr:first-of-type .char_value {
    border-top: none;
  }
}
@media (max-width: 500px) {
  .props_block--table {
    padding: 24px;
  }
  .props_block--table .char_name,
  .props_block--table .char_value {
    background-image: none;
    display: block;
    width: auto;
    padding-top: 0px;
    padding-bottom: 0;
  }
  .props_block--table .char_name {
    margin-top: 11px;
    margin-bottom: -1px;
  }
  .props_block--table tr:first-of-type .char_name {
    margin-top: 0;
  }
  .props_block--table .char_name:first-of-type {
    width: 100%;
  }
  .props_block--table .props_item > span {
    font-size: 0.867em;
    line-height: 1.692em;
  }
  .props_block--table .char_value {
    padding-left: 0;
    line-height: 21px;
    text-align: left;
  }
  .props_block--table .char_value span {
    padding-left: 0;
  }
}

/* hint in props */
.props_block--table .props_item {
  display: inline-block;
  background-color: #fff;
  background: var(--black_bg_black);
  position: relative;
}
.props_block--table .props_item.whint {
  padding-right: 10px;
}
.props_block--table .props_item.whint > span {
  padding-right: 0px;
}
.props_block .char_name .hint,
.properties__title .hint {
  display: inline-block;
  position: relative;
  padding-left: 3px;
}
.props_block--table .char_name .hint {
  position: relative;
  top: -1px;
  left: 2px;
  right: auto;
  display: inline;
}

.hint.hint--first {
  padding: 0px 0px 0px 0px;
  display: block;
}
.hint.hint--first .tooltip {
  left: 1px;
  margin-bottom: 4px;
  word-break: normal;
}
.hint.hint--first .tooltip:after {
  left: 3px;
}

/*props list*/
.properties.list .properties__value {
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}
