/* item */
.gallery-item .gallery-list__item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* additional text */
.gallery-item .gallery-list__item-additional-text-wrapper {
  position: absolute;
  bottom: 18px;
  left: 23px;
  right: 65px;
  z-index: 1;
}

/* text */

.gallery-item
  .gallery-list__item--has-additional-text
  .gallery-list__item-text-wrapper {
  opacity: 0;
  visibility: hidden;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  max-height: 100%;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  width: 100%;
  z-index: 1;
}
.gallery-item
  .gallery-list__item--has-additional-text:hover
  .gallery-list__item-text-wrapper {
  opacity: 1;
  visibility: visible;
}

/* image */
.gallery-item .gallery-list__item-image-wrapper {
  position: relative;
}
.gallery-item .gallery-list__item-image-wrapper--BG {
  padding-top: 64.6%;
  width: 100%;
}
.gallery-item .gallery-list__item-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* cross */
.gallery-item .gallery-list__item-text-cross-part {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.gallery-item .gallery-list__item-text-cross-part .cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
