.faq-accordion {
}
.faq-accordion__wrapper.item-accordion-wrapper {
  padding-bottom: 0;
}
.faq-accordion__item .accordion-head {
  padding: 30px 40px;
}
.faq-accordion__item .panel-collapse .accordion-body {
  padding: 0 40px;
}
.faq-accordion__item .accordion-head .svg-inline-right-arrow {
  top: 37px;
}
.faq-accordion__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding-right: 68px;
}
.faq-accordion__name {
  font-size: 1.2em;
  line-height: calc(1em + 7px);
  color: #333333;
  color: var(--white_text_black);
}
.faq-accordion__preview-text {
  margin-top: 0px;
}
.faq-accordion__detail-text p:last-child {
  margin-top: 0px;
}
.faq-accordion__detail-text b,
.faq-accordion__detail-text strong {
  font-weight: bold;
  font-size: 1.06667em;
  line-height: calc(1em + 7px);
  color: #333333;
  color: var(--white_text_black);
}
.faq-accordion__btn-wrapper {
  margin-top: 25px;
}

@media (max-width: 600px) {
  .faq-accordion__item .accordion-head {
    padding-right: 20px;
  }
  .faq-accordion__name {
    flex-direction: column;
    padding-right: 30px;
  }
}
