.blog-list__item {
  position: relative;
  overflow: hidden;
}

.grid-list--no-gap .blog-list__item {
  overflow: visible;
}
.grid-list--no-gap .blog-list__item-image--absolute {
  left: -1px;
}

.blog-list__item-image-wrapper {
  position: relative;
}
.blog-list__item-image-wrapper--BG {
  padding-top: 130%;
  overflow: hidden;
  width: 100%;
}
.blog-list__item-image-wrapper--BG:after {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  top: 51%;
  bottom: 0%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.blog-list__item-image-wrapper--TOP {
  padding-top: 67%;
}

.blog-list__item-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}
.blog-list__item-image--absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bx-ie .blog-list__item-text-top-part {
  flex-basis: auto;
}

.blog-list__item-preview-wrapper {
  margin-top: 9px;
}

.blog-list__item-period {
  position: relative;
}
.blog-list__item-period--mt-19 {
  margin-top: 19px;
}
.blog-list__item-period.blog-list__item-period--FON {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 12px;
}

.blog-list__item-text-wrapper--BOTTOM {
  position: absolute;
  bottom: 33px;
  left: 39px;
  right: 39px;
  z-index: 2;
}
body .blog-list__item-text-wrapper--BOTTOM .dark_link {
  color: #fff;
}
.blog-list__item-text-wrapper--BOTTOM_RELATIVE {
  padding: 25px 29px;
}

#main .blog-list__item .sticker {
  display: flex;
}
.blog-list__item .sticker .sticker__item{
  margin-left: 0;
}
body .blog-list__item-sticker {
  top: 29px;
  left: 29px;
  right: 29px;
}
body .blog-list__item-sticker--normal {
  position: static;
  margin-bottom: 9px;
}

.sticker__item--fon.sticker__item--bordered {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5);
  background: transparent;
}

.blog-list__item-link--absolute {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

@media (min-width: 1200px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .grid-list--no-grid > .blog-list__wrapper {
    width: 33.33%;
  }
  .grid-list--no-grid > .blog-list__wrapper.item-w66,
  .grid-list--no-grid > .blog-list__wrapper.item-w50 {
    width: 66.66%;
  }
}
@media (min-width: 992px) {
  .blog-list__wrapper.item-w50 .blog-list__item-image-wrapper--BG {
    padding-top: 62%;
  }
  .blog-list__wrapper.item-w66 .blog-list__item-image-wrapper--BG {
    padding-top: 63%;
  }

  .blog-list__item-sticker--BOTTOM {
    bottom: 35px;
    left: 36px;
  }

  .grid-list--wide-first .blog-list__item-image-wrapper--BG {
    height: 100%;
  }
  .grid-list--wide-first > div:first-of-type .blog-list__item-title {
    font-size: 1.6em;
  }
  .blog-list__item-image-wrapper--BG .blog-list__item-sticker {
    top: 40px;
    left: 38px;
  }
}

@media (max-width: 991px) {
  .blog-list__item-text-wrapper--BOTTOM {
    bottom: 20px;
    left: 29px;
    right: 29px;
  }
  .grid-list--no-grid > .blog-list__wrapper {
    width: 33.33%;
  }
}

@media (max-width: 767px) {
  .grid-list--no-grid > .blog-list__wrapper {
    width: 50%;
  }
}

@media (min-width: 601px) {
  .blog-list__item-sticker--BOTTOM_CORNER {
    bottom: 40px;
    left: 39px;
  }
}
@media (max-width: 600px) {
  .blog-list__item.flexbox--direction-row-reverse {
    flex-direction: column;
  }
  .blog-list__item-preview-wrapper {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .blog-list__item-sticker--BOTTOM,
  .blog-list__item-sticker--BOTTOM_CORNER {
    bottom: 24px;
    left: 27px;
  }

  .blog-list__item-image-wrapper--BG {
    padding-top: 150%;
  }
  .blog-list__item-image-wrapper--BG:after {
    top: 40%;
  }
}
@media (max-width: 500px) {
  .grid-list--normal .blog-list__wrapper {
    width: 100%;
  }
  .grid-list--normal .blog-list__item-image-wrapper--BG {
    padding-top: 110%;
  }
}
@media (max-width: 450px) {
  .blog-list__item-sticker--TOP {
    top: 30px;
    left: 31px;
  }
}
